<!DOCTYPE html>
<html>
<head>
  <title>Submit an issue to Amber</title>

  <link href="/bootstrap.min.css" rel="stylesheet"> 

  <style type="text/css">
    header .navbar {
      background-color: #fd9326;
    }
    header .navbar img {
      height: 30px;
    }

    p {
      padding: 1em;
    }
  </style>

  <script src='https://www.google.com/recaptcha/api.js'></script>
</head>
<body>
  <header>
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="javascript:void(0);"><img alt="" src="logo.png"></a>
        </div>
      </div>
    </nav>
  </header>

  <div class="container">
    <%= yield %>
  </div>

  <script src="/jquery.min.js"></script>
  <script src="/application.js"></script>
</body>
</html>
